<footer class="w-full bg-white py-4 mt-4 border-t border-gray-200">
  <div class="max-w-[100%] mx-auto px-8 flex items-center justify-between gap-8 md:flex-row flex-col">
    <div class="flex-shrink-0">
      <img src="/images/bmslogo.png" alt="Bristol Myers Squibb" class="h-8 w-auto" />
    </div>
    <p class="text-sm text-gray-600 m-0 max-w-[1000px]  leading-relaxed flex-grow text-center " style="text-wrap: balance;">
      <strong>For internal training purposes only.</strong> Not for external distribution. This training module is intended solely for educating BMS personnel on the subcutaneous (SC) administration process of nivolumab + hyaluronidase.
    </p>
    <p class="text-sm text-gray-600 m-0 flex-shrink-0 md:self-auto self-end">
      1992-US-2400114 10/24
    </p>
  </div>
</footer> 